@mixin btn-base{
	padding: 0.5rem 10rem;
	
}

$color-header:#202020;
$color-text:#303030;
$color-button:white;
$color-hover:#0075FF;

.btn-main{
	@include btn-base();
	text-decoration: none;
	transition: 0.5s;
	background-color:white;
	border-radius:20px;
	color:$color-text;
	width: 50%;
	opacity: 75%;
	font-weight: bold;
	&:hover{
		cursor:pointer;
		color: $color-hover;
		background-color:#8f8f8f;
	}
}

.img{
	width: 8rem;
}

